%h1 #{article.data.bezirk}: #{article.title}

#intro
  .text= article.summary
  %aside
    %p.date Besucht am #{article.date.strftime("%d.%m.%Y")}
    %p.wappen(title="#{article.data.wappen} von 5 Bezirkswappen")
      - article.data.wappen.times do
        %i.bts.bt-shield
      - (5 - article.data.wappen).times do
        %i.btl.bt-shield
    %p.cafe Kaffee: #{article.data.cafe}

= article.render(layout: false, keep_separator: true).split(article.blog_options.summary_separator).last
