---
title: Welcome to Middleman
---

.karte
  = partial "wienkarte"

.content
  - blog.articles.each do |article|
    %section.bezirksmuseum(id="bezirk-#{article.data.nr}")
      %h2= article.title
      %p.date Besucht am #{article.date.strftime("%d.%m.%Y")}.
      %p.wappen(title="#{article.data.wappen} von 5 Bezirkswappen")
        - article.data.wappen.times do
          %i.bts.bt-shield
        - (5 - article.data.wappen).times do
          %i.btl.bt-shield

      = article.body
